# outputs

*.out

# pycache

simba_c/analyse_spectra/__pycache__
simba_c/make_spectra/__pycache__
tools/__pycache__/

# checkpoints

simba_c/make_spectra/.ipynb_checkpoints
simba_c/analyse_spectra/.ipynb_checkpoints
.ipynb_checkpoints
plots/.ipynb_checkpoints
tools/.ipynb_checkpoints

# duplicates / deprecated code

analyse_spectra_sh/
make_spectra_sh/

# other

simba_c/make_spectra/diagnostics.py